.form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 50px;
}

.form form input {
  margin-top: 2vh;
  border: 1px solid transparent;
  outline: none;
  transition: all 0.3s ease;
  padding-left: 15px;
  width: 40vw;
  height: 45px;
  color: #474a4d;
}

.form form button {
  margin-top: 2vh;
  height: 45px;
}

.form form button:hover {
  background-color: white;
  color: #2f7dfc;
  outline: none;
  border: none;
  box-shadow: -14.142px 14.142px 20px 0px rgba(0, 0, 0, 0.1);
}

.colors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  padding: 50px;
}

.color {
  display: none;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.color1 {
  margin-top: 30px;
  display: none;
}

.color img {
  width: 200px;
  height: auto;
  margin-top: 50px;
  margin-left: 20px;
}

.check span {
  margin-left: 20px;
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.check img {
  width: 100px;
  height: auto;
}

@media only screen and (max-width: 760px) {
  .color {
    flex-flow: column;
  }
}
